{% if site.data.administration %}
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-paperclip"></i>Administration Experience</h2>

{% for admin in site.data.administration %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title left">{{ admin.title }}</h3>
        <div class="time">{{ admin.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ admin.company }}</div>

    </div><!--//meta-->

    {% if admin.details %}
    <div class="details">
      <p>{{ admin.details }}</p>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
