{% if site.data.publications %}
<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-file-text-o"></i>Publications</h2>

{% for pub in site.data.publications %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        {% if pub.doi %}
        <h3 class="job-title right-condensed"><a href="http://dx.doi.org/{{ pub.doi }}" target="blank">{{ pub.title }}</a></h3>
        {% else %}
        <h3 class="job-title right-condensed">{{ pub.title }}</h3>
        {% endif %}
        <div class="time-left">{{ pub.time }}</div>
      </div><!--//upper-row-->

      <div class="company right-condensed">{{ pub.journal }}</div>

    </div><!--//meta-->

    {% if pub.pdf %}
    <div class="right-condensed">
      <p>
      <strong><a href="{{ pub.pdf }}">PDF</a></strong>
      </p>
    </div>
    {% endif %}
    
  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
