{% if site.data.publications %}
<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-file-text-o"></i>Publications</h2>

{% for pub in site.data.publications %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <div class="authors left-condensed">{{ pub.authors }}</div>
        <h3 class="job-title left-condensed">{{ pub.title }}</h3>
        <div class="time">{{ pub.time }}
        {% if pub.pdf %}
        <br><a href="{{ pub.pdf }}"><i class="fa fa-download"></i></a>
        {% endif %}
        </div>
      </div><!--//upper-row-->

      <div class="company left-condensed">{{ pub.journal }}
      {% if pub.doi %}
      <br>
      doi: <a href="http://dx.doi.org/{{ pub.doi }}" target="blank">{{ pub.doi }}</a>
      {% endif %}
      </div>

    </div><!--//meta-->

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
